/* Header 스타일 적용 */
.nav {
    background-color: dimgray;
    padding: 10px;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.nav a {
    color: floralwhite;
    text-decoration: none;
}

/* Layout 스타일 적용 */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.mainContent {
    padding: 20px;
    flex: 1;
    background-color: ghostwhite;
}